<h1>Tabs</h1>
<tabs>
  <tab>
    <tab-title>
      Title 1
    </tab-title>
    <tab-content>
      <i>Content</i> 1
    </tab-content>
  </tab>
  <tab>
    <tab-title>
      <i>Title</i> 2
    </tab-title>
    <tab-content>
      Content 2
    </tab-content>
  </tab>
</tabs>


<hr />
<h1>View Port Size</h1>

<test-component *ifViewportSize="'small'" [value]="1"></test-component>
<test-component *ifViewportSize="'medium'" [value]="2"></test-component>
<test-component *ifViewportSize="'large'" [value]="3"></test-component>
